* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: white;
    color: black;
    font-size: 1.5rem;
}

header {
    grid-area: header;
}

footer {
  grid-area: footer;
}

label {
    margin-left: 7%;
}

table {
    border: 3px solid;
    margin: 10%;
 }

ul {    
     list-style:  none;
    padding: 0;
}

li {
    display:  inline-block;
    width: 16%;
    position: relative; /*para que el menu se despliegue*/
}

a:hover {
    background-color: orange;
}

li a {
    font-size: 70%;
    text-align: center;
    display: block;
    color: white;
    background-color:#F3B556;
    padding: 0%;
    text-transform: uppercase;
    text-decoration: none;
    font-family: sans-serif
}

ul ul {
    position: absolute;
    display: none;
}

ul ul li {
    width: 100%;
    z-index: 1;
}

ul li:hover ul {
    display: block;
}

th {
    background-color:#cccccc;
    border: 1px solid;
 }

 tr, td {
    border: 1px solid;
 }

p {
    color: black;
    margin: 2%;
}

.lista {
    color: orangered;
}

.menu {
        list-style-type: none;
}

.pequeño__fondo {
    max-width: 80%;
    background-color: #FCF4E4;

}


.titulo__tabla {
    color: blue;
    text-align: center;
    font-weight: bolder;
    font-size: 130%;
}

.titulo {
    color: darkred;
    margin:  7%;
}

.Link__sin__sub {
    text-decoration:none;
    color: white;
}

.fondo {
    background-color: black;
    color: white;
    width: 100%;
}

.bloque {
    border: 3px;
    width: 18%;
    display: inline-grid;
    padding: 30px;
    text-align: center;
}

.bloque2 {
    border: 3px;
    width: 40%;
    display: inline-grid;
    padding: 30px;
    text-align: center;
}

.alineacion__derecha {
    text-align: right;
    margin-right: 10px;
}

.centrado {
    text-align: center;
}

.centradoimg {
    margin-left: 23%;
}

.agrandar {
    font-size: 80%;
}

/*
.salto {
    display: block;
    margin-top: 20px;
}
*/

.imagen {
    padding: 3%; 
    margin: 3%;  
    float: left; 
    width: 50%;
}

.imagen__derecha{ 
    float: right;
    text-align: top; 
    width: 30%;
    margin-bottom: 10%;
}

.img__principal {
    margin-right: 1.5%;
    margin-left: 1.5%;
    width: 97%;
}

.contenedor {
    display: inblock-grid;
    max-width: 60%;
    margin: 8%;
    padding: 2%;
    background: #F9DBAE;
    border-top: 1px black;
    margin-left: 18%;
}

.margen4 {
    margin-left: 8%;
}

.margenizq {
    margin-left: 4%;
}

.margen {
    margin: 5%;
}

.margentop {
    margin-top: 5%;
}

.margenbot {
    margin-bottom: 5%;
}

.flex__container1 {
    display: flex;
    flex-direction: row;
    background-color: #F9DBAE;
    justify-content: space-around;
    align-content: center;
}   

.grid__container__index {
    display: inblock-grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    align-items: center;
    grid-template-areas:
     "header header header" 
     "imagen__index imagen__index imagen__index"
     "cuadrado__psicomotricidad cuadrado__asesoramiento cuadrado__talleres cuadrado__quiensoy"
     "footer footer footer";
     flex-wrap: wrap;
}

.grid__container__asesoramiento {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    align-items: center;
    grid-template-areas:
     "header header header" 
     "supervicion familias ."
     ". formulario formulario"
     "footer footer footer";
}

.grid__container__psicomotricidad {
    display: inblock-grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    align-items: center;
    grid-template-areas:
     "header header header" 
     "texto__psicomotricidad texto__psicomotricidad texto__psicomotricidad"
     "texto texto texto"
     "destinatarios ambito__trabajo recursos rol"
     "footer footer footer";
}

.grid__container__quiensoy {
    display: inblock-grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    align-items: center;
    grid-template-areas:
     "header header header" 
     "quiensoy quiensoy quiensoy"
     "footer footer footer";
}

.grid__container__talleres {
    display: inblock-grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    align-items: center;
    grid-template-areas:
     "header header header" 
     "titulo__talleres titulo__talleres titulo__talleres"
     "video video video"
     "tabla tabla tabla"
     "footer footer footer";
}

.fondo__gradiente {
    background-image: linear-gradient(to right, orange,yellow);
}

@keyframes esfumado {
   0% {
     opacity: 0;
   }
   100% {
     opacity: 1;
   }
}

.titulo__esfumado {
    animation-duration: 2s;
    animation-name: esfumado;
    animation-iteration-count: infinite;
    transform: scale(0.7);
}

/*input:focus {
   width: 200px;
   font-size: 24px;
} */

@media screen and (max-width:800px) {
   
.grid__container__index {
    padding: 0;
    font-size: 80%;
    display: flex;
    /*overflow: hidden;*/
    }

.flex__container1 {
    display: grid;
    background-color: #F9DBAE;
    }
}